.spinner {
  --w: 7px;
  border: var(--w) solid #fff;
  position: relative;
  animation: spinify infinite 1.25s linear;
  width: 55%;
  aspect-ratio: 1;
  border-radius: 100px;

  & > :only-child {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: inherit;
    background-color: var(--main-col);
    width: 100%;
    aspect-ratio: 1;
  }

  &::before,
  &::after {
    content: "";
    aspect-ratio: 1;
    border-radius: inherit;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  &::before {
    width: calc(100% + var(--w) * 2);
    background-image: conic-gradient(var(--main-col), transparent);
    top: 50%;
  }

  &::after {
    width: var(--w);
    background-color: #fff;
    transform: translateY(-50%);
  }
}
