.drop-menu {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  position: absolute;
  top: 150%;
  left: 50%;
  translate: -50% 0;
  transform-origin: top;
  background-color: light-dark(#fff, var(--sec-col2));
  color: light-dark(var(--ligt-text-col), var(--drk-text-col));
  box-shadow: 0 5px 10px 1px #0007;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  opacity: 0;
  visibility: hidden;

  & > * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 200ms;
    border: none;
    outline: none;

    &.active {
      background-color: light-dark(#ddd, var(--sec-col3));
      color: var(--main-col);
    }

    &:is(:focus-visible, :hover) {
      background-color: light-dark(#eee, var(--sec-col3));
    }
  }

  &.show-up {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show-menu {
  from {
    rotate: x -90deg;
  }
  to {
    rotate: none;
  }
}
