@property --v-clip-x-value {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

#logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 2.75rem;
  background-image: linear-gradient(var(--main-col), var(--main-col));
  background-repeat: no-repeat;
  background-size: 0 100%, 100%;
  transition: background-size var(--transition-ms);
  background-clip: text;
  color: transparent;
  margin-right: auto;
  white-space: nowrap;
  outline: none;
  border: none;

  & > .logo-icon {
    color: light-dark(var(--ligt-text-col), var(--drk-text-col));
    transition-property: color, rotate, --v-clip-x-value;
    transition-duration: var(--transition-ms), var(--transition-ms), 500ms;
    position: relative;
    overflow: hidden;
    clip-path: polygon(
      0% 0%,
      0% 15%,
      var(--v-clip-x-value) 45%,
      0% 79%,
      0% 100%,
      100% 100%,
      100% 0%
    );
  }

  &:is(:focus-visible, :hover) {
    background-size: 100% 100%, 100%;

    & > .logo-icon {
      animation: v-clip 1s linear forwards;
      color: var(--main-col);
      rotate: 90deg;
      --v-clip-x-value: 50%;
    }
  }
}

@media (width <= 640px) {
  #logo {
    font-size: 2.5rem;
  }
}
