.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding-top: 30px;
  text-align: center;

  & > .title {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  /* for home page */
  & > .resources {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 1.5rem;

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 175px;
      background-color: light-dark(#ccc, var(--sec-col2));
      color: light-dark(#666, var(--drk-text-col));
      padding: 15px;
      border-radius: var(--main-border-rad);
      transition-property: background-color, box-shadow, color, translate;
      transition: var(--transition-ms);

      &:is(:hover, :focus-visible) {
        background-color: light-dark(#bbb, var(--sec-col3));
        color: light-dark(#000, var(--main-col));
        translate: 0 -3px;
        box-shadow: 0 5px 10px light-dark(#00000080, #ffffff60);
      }

      &:active {
        translate: none;
        box-shadow: none;
      }
    }
  }
}
