.search-result-router {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr;
  justify-content: center;
  width: 100%;
  border-radius: var(--main-border-rad);
  animation: expand 1s linear forwards;

  & > * {
    overflow-y: hidden;
    overflow-x: visible;
  }
}

@keyframes expand {
  to {
    grid-template-rows: 1fr;
  }
}
