.mini-nav-menu {
  position: relative;
  display: none;

  & > .mini-nav-bars {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-top: 1.5px;
    border: none;
    outline: none;
    width: 30px;
  }

  /* remove the hover effect from font-icon element */
  & > .drop-menu > a > .font-icon:hover {
    /* color: inherit; */
  }

  & .title.left {
    right: 45px;
  }
}

@media (width <= 768px) {
  .mini-nav-menu {
    display: unset;
    font-size: 1.5rem;
  }
}
